<p>food works!</p>

<button (click)="addFood()">Add Food</button>
<!--
    <p>{{count}}</p>
    <button (click)="plusOne()">Plus one</button>
-->
<hr>
<form [formGroup]="foodForm" (ngSubmit)="addFoodToList(foodForm.value)">
    <label for="name">Name of Food:</label><br>
    <input type="text" id="name" name="name" formControlName="name"><br>

    <label for="calories">Calories:</label><br>
    <input type="number" id="calories" name="calories" formControlName="calories"><br>
    
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description" formControlName="description"><br>

    <button class="button" type="submit">Submit</button>
</form>
<br>
<hr>
<div class="row">
    <div class="col-6">
        <table>
            <tr>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Description</th>
                <th>Move</th>
            </tr>
            <tr *ngFor="let foodItem of listOfFood; let i = index">
                <td>{{foodItem.name}}</td>
                <td>{{foodItem.calories}}</td>
                <td>{{foodItem.description}}</td>
                <td><button (click)="moveFoodToList(i)">Remove</button></td>
            </tr>
        </table>
    </div>
    <div class="col-6">
        <table>
            <tr>
                <th>Food Name</th>
                <th>Calories</th>
                <th>Description</th>
                <th>ID</th>
            </tr>
            <tr *ngFor="let foodItem of otherListOfFood; let i = index">
                <td>{{foodItem.name}}</td>
                <td>{{foodItem.calories}}</td>
                <td>{{foodItem.description}}</td>
                <td><button (click)="moveFoodToOtherList(i)">Remove</button></td>
            </tr>
        </table>
        
    </div>
</div>
