<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="navbar-brand">Food Trakker</div>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="navbar-text">
                <a class="nav-link" routerLink="">Dashboard</a>
            </li>
            <li class="navbar-text">
                <a class="nav-link" routerLink="food">Track Today</a>
            </li>
            <li class="navbar-text">
                <a class="nav-link" routerLink="food">Add Food</a>
            </li>
        </ul>
    </div>
    
</nav>